body{
  min-block-size: 100vb;
  font-family: montserrat;
  font-size: 1em;
  line-height: 1.5;
  color:#1e4165;
  background-color:#a4b0bc;
  

}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;       
    background-color:  hsla(204, 6%, 17%, .63);
    padding: 20px; 
    width: 100%;
    box-sizing: border-box;
    font-family:Montserrat;
    margin-top: 2rem;
  }

  .header_ul{
    display:flex;
    gap: 3rem;
    list-style: none;
    padding-right: 2%;
    color:#a4b0bc;
  }
  .link{
    display:inline-block;
    text-align: center;
    color:#a4b0bc;
    text-decoration: none;
    list-style: none;
    justify-content: center;
  }

  
  .header img {
    max-width: 300px;       
    height: auto;
    padding: 10px;           
  }

  .station{
    display:flex;
    
  }
 
.quickStats{
  display:flex;
  height: 600px;
  width:100px;
  flex-direction: row;
  background-color: #1e4165;
  border-radius: .2em;



}